@model ArSpFi.Models.Usuario

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout_2.cshtml";
}

<h2 style="font-family: 'AhaWow';" class="text-dark h2">Datos del Usuario</h2>


<div class=" text-dark">
    @*<h4 style="font-family: 'AhaWow';">Usuario</h4>*@
    <hr />
    <dl class="dl-horizontal row m-lg-3">
        <dt class="col-md-2" style="font-family: 'AhaWow';">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-md-2" style="font-family: 'AhaWow';">
            @Html.DisplayNameFor(model => model.Correo)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Correo)
        </dd>
        <dt class="col-md-2" style="font-family: 'AhaWow';">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class="col-md-2" style="font-family: 'AhaWow';">
            @*@Html.DisplayNameFor(model => model.FechaCreado)*@ Fecha de Creacion
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.FechaCreado)
        </dd>
        <dt class="col-md-2" style="font-family: 'AhaWow';">
            @Html.DisplayNameFor(model => model.Activo)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Activo)
        </dd>
        <dt class="col-md-2" style="font-family: 'AhaWow';">
            @*@Html.DisplayNameFor(model => model.FkRolNavigation)*@ Perfil
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.FkRolNavigation.NombRol)
        </dd>
    </dl>
</div>
<div>
    <a class="text-danger h4" asp-action="Edit" asp-route-id="@Model.IdUsuario" style="font-family: 'AhaWow'; margin-right:5px">Editar</a> |
    <a asp-action="Index" style="font-family: 'AhaWow'; margin-left:5px" class="text-white h4">Lista de Usuarios</a>
</div>
